html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

a, a:visited, a:hover {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 28px;
    font-size: 1rem;
    color: $text-color;
}

ul {

    list-style-type: none;
}

@mixin transition-ease {
    transition: 0.2s all ease;
}